
/* NAV BAR ⬇ */
header{
  display: flex; 
  justify-content: space-between;
  margin: 0 0 15px 0;
  background-color: rgb(28,28,28);
}
.logo{
  width: 150px;
  height: 47.7px;
  margin: 5px 0 5px 5px
}
li{
  display: inline-block;
  padding: 21.5px 25px;
  font-family: 'Merriweather Sans', sans-serif;
}
.menu:hover{
  background-color: rgb(61, 61, 61)
}
a{
  color: #DAE2DF;
  text-decoration: none;
}
#index-l:hover{
  color: rgb(228, 236, 106)
}
#about-l:hover{
  color: rgb(125, 194, 108)
}
#contact-l:hover{
  color: rgb(204, 95, 95) 
}
#hamburger{
  display: none;
}
/* NAV BAR ⬆ */


/* MAIN AREA - HOME ⬇*/
body{
  position: relative;
  min-height: 100vh;
  background-color: #DAE2DF;
}
main{
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.borough-card{
  margin: 15px;
}
.card-img{
  border-radius: 5px;
}
#manhattan-img{
  border: solid 4px rgb(114,156,118);
}
#brooklyn-img{
  border: solid 4px rgb(168,123,88);
}
#queens-img{
  border: solid 4px rgb(151,81,74);
}
#bronx-img{
  border: solid 4px rgb(131,94,154);
}
#staten-island-img{
  border: solid 4px rgb(157,151,88);
}
.card-img:hover {
  animation: shake .5s;
  animation-iteration-count: 1;
}
.bold{
  font-weight: 600;
}
/* ANIMATION command from: https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg)}
  10% { transform: translate(-1px, -2px) rotate(-1deg)}
  20% { transform: translate(-3px, 0px) rotate(1deg)}
  30% { transform: translate(3px, 2px) rotate(0deg)}
  40% { transform: translate(1px, -1px) rotate(1deg)}
  50% { transform: translate(-1px, 2px) rotate(-1deg)}
  60% { transform: translate(-3px, 1px) rotate(0deg)}
  70% { transform: translate(3px, 1px) rotate(-1deg)}
  80% { transform: translate(-1px, -1px) rotate(1deg)}
  90% { transform: translate(1px, 2px) rotate(0deg)}
  100% { transform: translate(1px, -2px) rotate(-1deg)}
}
/* BACK OF CARD ⬇*/
/* CARD FLIP ⬇*/
.flip-card-container{
  background-color: transparent;
  width: 405px;
  height: 214px;
  margin: 15px;
  perspective: 1000px;
} 
.borough-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipped-card{
  transform: rotateY(180deg);
}
.card-front, .card-back{ /*WATCH OUT BELOW (card-back also)*/
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back{
  height: 210px;
  display: block;
  background-color: #DAE2DF;
  border: solid 2px rgb(150, 144, 146);
  border-radius: 5px;
  transform: rotateY(180deg)
}
/* CARD FLIP ⬆*/

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-bottom: 2px;
  padding-left: 5px;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-bottom: 12px;
  padding-left: 5px;
}
.qlcategories{
  display: block; /* different than the nav list */
  font-family: 'Montserrat', sans-serif;
  padding: 7.5px; 
  font-size: 15px;
}
.count{
  text-align: right;
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51,120,250);
  font-size: 15px;
}
table{
  width: 100%;
}
.start-date, .end-date{
  width: 85px;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: solid 2px rgb(150, 144, 146);
  background-color: rgb(240, 237, 239);
}
#date-form{
  text-align: right;
  padding-top: 5px;
}
.btn-container{
  text-align: center;
}
.filter-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: solid 2px rgb(150, 144, 146)
}
.qlheader{
  background-color: rgb(150, 144, 146);
  /* background-image: linear-gradient(#DAE2DF, rgb(150, 144, 146)); */
}
.quick-look{
  height: 100%
}
.manhattan-quick-look:hover{
  background-color: rgba(182,250,193,.4);
}
.queens-quick-look:hover{
  background-color: rgba(234,129,117,.4); 
}
.brooklyn-quick-look:hover{
  background-color: rgba(243,183,128,.4);
}
.bronx-quick-look:hover{
  background-color: rgba(186,152,253,.4);
}
.staten-island-quick-look:hover{
  background-color: rgba(255,245,141,.4);
}
/* BACK OF CARD ⬆*/

/* MAIN AREA - HOME ⬆*/


/* MAIN AREA - ABOUT, CONTACT ⬇*/
.page{
  width: 90%;
  background-color: rgb(235, 235, 235);
  border: solid 3px #DAE2DF;
  border-radius: 10px;
  padding: 0 18px 18px 18px;
  margin: 5px
}
.center{
  text-align: center;
}
.about, .tech, .img-logo{
  margin: 10px
}
.tech{
  padding: 30px 0 0 0;
}
.about{
  padding: 5px 0 0 0;
}
.img-logo{
  padding: 30px 0 10px
}
h2, p, .created-by{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 10px 0
}
p{
  font-size: 18px;
  padding: 5px 25px;
  line-height: 1.7;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.email, .developer{
  padding: 10px 0;
}
.created-by{
  color: rgb(28,28,28);
  text-decoration: underline;
}
.created-by:hover{
  color: rgb(21, 21, 138)
}
/* MAIN AREA - ABOUT, CONTACT ⬆*/


/* FOOTER ⬇*/
footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
.bottom{
  background-color: rgb(28,28,28);
  padding: 12px 0; 
}
h6{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  color: #DAE2DF;
}
/* FOOTER ⬆*/


/* MEDIA QUERY ⬇*/
/* Hamburger Menu ⬇*/
@media (max-width: 861px) {
  .menu{
    display: none;  
  }
  #hamburger{
    display: flex;
    color: #DAE2DF;
    background-color: rgb(28,28,28);
    font-size: 24px;
    padding: 17px 40px 17px 40px;
  }
  #hamburger:hover{
  background-color: rgb(61, 61, 61);
  color: rgb(28,28,28)
  }
/* Hamburger Menu ⬆*/
/* BOROUGH CARDS ⬇*/
  img{
    width: 100%
  }
/* BOROUGH CARDS ⬆*/
  .flip-card-container{
    background-color: transparent;
    width: 405px;
    height: 214px;
    margin: 15px 50px 15px 15px;
    perspective: 1000px;
  } 
}

@media (max-width: 450px){
  /* BACK OF CARDS ⬇*/
  .qlcategories{
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 7.5px; 
    font-size: 14px;
  }
  .start-date, .end-date{
    width: 75px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px rgb(150, 144, 146);
    background-color: rgb(240, 237, 239);
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
    padding-left: 5px;
  }
}
@media (max-width: 380px){
  /* BACK OF CARDS ⬇*/
  .card-back{
    height: 185px;
    display: block;
    background-color: #DAE2DF;
    border: solid 2px rgb(150, 144, 146);
    border-radius: 5px;
    transform: rotateY(180deg)
  }
  .filter-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: solid 2px rgb(150, 144, 146)
  }
  .count{
    text-align: right;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51,120,250);
    font-size: 14px;
  }
  .qlcategories{
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 6.5px; 
    font-size: 14px;
  }
  .start-date, .end-date{
    width: 65px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px rgb(150, 144, 146);
    background-color: rgb(240, 237, 239);
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 5px;
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-left: 5px;
  }
}
/* BACK OF CARDS ⬆*/


/* MEDIA QUERY ⬆*/