/* *{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
} */

/* NAV BAR */
header{
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
  background-color: #DAE2DF;
  border-bottom: solid 3px rgb(150, 144, 146);
}
.logo{
  width: 150px;
  height: 50px;
  margin: 5px 0 0 5px
}
li{
  display: inline-block;
  padding: 21.5px 25px;
  font-family: 'Merriweather Sans', sans-serif;
}
.menu:hover{
  background-color: rgb(150, 144, 146);
}
a{
  color: rgb(10, 12, 20);
  text-decoration: none;
}
#hamburger{
  display: none;
}
/* NAV BAR */


/* MAIN AREA - HOME */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.borough-card{
  margin: 15px;
}
/* BACK OF CARD */
.card-back{
  height: 210px;
  display: block;
  padding: 5px;
  background-color: #DAE2DF
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-bottom: 2px
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-bottom: 12px
}
.qlcategories{
  display: block; /* different than the nav list */
  font-family: 'Montserrat', sans-serif;
  padding: 8px; 
  font-size: 15px;
}
.count{
  text-align: right;
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51,120,250);
  font-size: 15px;
}
table{
  width: 100%;
}
.datepicker{
  width: 100px
  
}
/* BACK OF CARD */
/* MAIN AREA - HOME */


/* MAIN AREA - ABOUT, CONTACT */
.page{
  width: 90%;
  background-color: rgb(235, 235, 235);
  border: solid 3px #DAE2DF;
  border-radius: 10px;
  padding: 0 18px 18px 18px;
  margin: 5px
}
.center{
  text-align: center;
}
.about, .tech{
  margin: 10px
}
h2, p{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 10px 0
}
p{
  font-size: 18px;
  padding: 5px 25px;
  line-height: 1.7;
}
.tech{
  padding: 30px 0 10px 0;
}
.about{
  padding: 5px 0 0 0;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.email, .developer{
  margin: 30px 0 10px 0
}
/* MAIN AREA - ABOUT , CONTACT*/


/* FOOTER */
/* footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.bottom{
  background-color: rgb(10, 12, 20);
  padding: 21.5px 25px; 
}
h6{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  color: #DAE2DF;
} */
/* FOOTER */


/* MEDIA QUERY */
/* Hamburger Menu */
@media (max-width: 861px) {
  .menu{
    display: none;  
  }
  #hamburger{
    display: flex;
    background-color: rgb(150, 144, 146);
    font-size: 24px;
    padding: 17px 27px 17px 27px;
  }
/* Hamburger Menu */
/* BOROUGH CARDS */
  img{
    width: 100%
  }
/* BOROUGH CARDS */
}


/* MEDIA QUERY */