
/* NAV BAR */
header{
  display: flex;
  justify-content: space-between;
  background-color: #DAE2DF;
}
.logo{
  width: 150px;
  height: 55px;
  margin: 5px 0 0 5px
}
li{
  display: inline-block;
  padding: 22px 25px;
  font-family: 'Merriweather Sans', sans-serif;
}
.menu:hover{
  background-color: rgb(150, 144, 146);
}
a{
  color: rgb(10, 12, 20);
  text-decoration: none;
}
#hamburger{
  display: none;
}


/* NAV BAR */

/* Hamburger Menu */

@media (max-width: 700px) {
  .menu{
    display: none;  
  }
  #hamburger{
    display: flex;
    background-color: rgb(150, 144, 146);
    font-size: 24px;
    padding: 17px 18px 17px 27px;
  }
}