
/* NAV BAR */
header{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  background-color: #DAE2DF;
  border-bottom: solid 3px rgb(150, 144, 146);
}
.logo{
  width: 150px;
  height: 50px;
  margin: 5px 0 0 5px
}
li{
  display: inline-block;
  padding: 21.5px 25px;
  font-family: 'Merriweather Sans', sans-serif;
}
.menu:hover{
  background-color: rgb(150, 144, 146);
}
a{
  color: rgb(10, 12, 20);
  text-decoration: none;
}
#hamburger{
  display: none;
}
/* NAV BAR */


/* MAIN AREA - HOME */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}
.borough-card{
  margin: 15px;
}
/* MAIN AREA - HOME */


/* MAIN AREA - ABOUT */
.about-page{
  background-color: rgb(200, 188, 188);
  width: 90%;
}
.about{}
/* MAIN AREA - ABOUT */


/* MEDIA QUERY */
/* Hamburger Menu */
@media (max-width: 700px) {
  .menu{
    display: none;  
  }
  #hamburger{
    display: flex;
    background-color: rgb(150, 144, 146);
    font-size: 24px;
    padding: 17px 18px 17px 27px;
  }
/* Hamburger Menu */
}


/* MEDIA QUERY */