
/* NAV BAR */
header{
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
  background-color: #DAE2DF;
  border-bottom: solid 3px rgb(150, 144, 146);
}
.logo{
  width: 150px;
  height: 50px;
  margin: 5px 0 0 5px
}
li{
  display: inline-block;
  padding: 21.5px 25px;
  font-family: 'Merriweather Sans', sans-serif;
}
.menu:hover{
  background-color: rgb(150, 144, 146);
}
a{
  color: rgb(10, 12, 20);
  text-decoration: none;
}
#hamburger{
  display: none;
}
/* NAV BAR */


/* MAIN AREA - HOME */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}
.borough-card{
  margin: 15px;
}
/* MAIN AREA - HOME */


/* MAIN AREA - ABOUT, CONTACT */
.page{
  width: 90%;
  background-color: rgb(235, 235, 235);
  border: solid 3px #DAE2DF;
  border-radius: 10px;
  padding: 0 18px 18px 18px;
  margin: 5px
}
.center{
  text-align: center;
}
.about, .tech{
  margin: 10px
}
h2, p{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 10px 0
}
p{
  font-size: 18px;
  padding: 5px 25px;
  line-height: 1.7;
}
.tech{
  padding: 30px 0 10px 0;
}
.about{
  padding: 5px 0 0 0;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.email, .developer{
  margin: 30px 0 10px 0
}
/* MAIN AREA - ABOUT , CONTACT*/


/* FOOTER */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.bottom{
  bottom: 0px;
  background-color: rgb(10, 12, 20);
  padding: 21.5px 25px; 
}
h6{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  color: #DAE2DF;
}
/* FOOTER */


/* MEDIA QUERY */
/* Hamburger Menu */
@media (max-width: 700px) {
  .menu{
    display: none;  
  }
  #hamburger{
    display: flex;
    background-color: rgb(150, 144, 146);
    font-size: 24px;
    padding: 17px 27px 17px 27px;
  }
/* Hamburger Menu */
/* BOROUGH CARDS */
  img{
    width: 100%
  }
/* BOROUGH CARDS */
  
}


/* MEDIA QUERY */